@import "diablo_colors";
@import "flat_ui_colors";

.monk, .wizard, .barbarian, .demon-hunter, .crusader, .witch-doctor {
    color: $flat_ui_clouds;
}

.monk { background-color: $monk; }
.wizard { background-color: $wizard; }
.demon-hunter { background-color: $demon_hunter; }
.barbarian { background-color: $barb; }
.witch-doctor { background-color: $witch_doctor; }
.crusader { background-color: $crusader; }

.widget:nth-child(3n-1) {
  background-color: $flat_ui_amethyst;
}
.widget:nth-child(3n-2) {
  background-color: $flat_ui_belize_hole;
}
.widget:nth-child(3n-3) {
  background-color: $flat_ui_green_sea;
}

.widget {
  color: $flat_ui_clouds;
}


@import "jQueryUI";