@import "diablo_colors";
@import "flat_ui_colors";

.monk, .wizard, .barbarian, .demon-hunter, .crusader, .witch-doctor {
    color: $flat_ui_clouds;
}

.monk { background-color: $monk; }
.wizard { background-color: $wizard; }
.demon-hunter { background-color: $demon_hunter; }
.barbarian { background-color: $barb; }
.witch-doctor { background-color: $witch_doctor; }
.crusader { background-color: $crusader; }

.widget:nth-child(3n-1) {
  .widget-inner {
    background-color: $flat_ui_amethyst;
  }
}
.widget:nth-child(3n-2) {
  .widget-inner {
    background-color: $flat_ui_belize_hole;
  }
}
.widget:nth-child(3n-3) {
  .widget-inner {
    background-color: $flat_ui_green_sea;
  }
}

.widget {
  color: $flat_ui_clouds;
  .widget-title {
    float: left;
    font-size: 1.2em;
  }
  .widget-title, .widget-value {
    width: 100%;
    text-align: center;
  }
  .widget-value {
    float: left;
    font-size: 1.4em;
  }
  .widget-inner {
    margin: 4px;
    padding: 12px;
  }
}


@import "jQueryUI";